body {
  margin: 0 auto;
}

canvas {
  display: block;
  position: absolute;
}

select {
  opacity: 0.6;
  width: 40%;
  height: 5%;
  position: absolute;
  z-index: 3;
  background-color: #ABAB00;
  font-weight: bold;
}

input[type=checkbox] {
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
}

input[type=checkbox],
select {
  cursor: pointer;
}

label {
  display: inline;
  color: #ABAB00;
}

#options {
  height: 5%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  color: #FFFFFF;
  font-weight: bold;
  width: 25%;
  text-align: center;
  padding-top: 8px;
}

#world {
  z-index: 0;
}

#food {
  z-index: 1;
}

#creatures {
  z-index: 2;
}